h1{
    background: rgb(241, 201, 245);
}
h2{
    background: rgb(241, 201, 245);
}
.par1{
    background: rgb(248, 230, 250);
    font-size: 14pt;
    color: black;
}

.par-2{
    background: rgb(233, 184, 245);
    font-size: 14pt;
    color: rgb(209, 95, 250);
    border: 10px, solid, red;
    border-radius: 30px;
}
.par-3{
    background: rgb(211, 126, 242);
    font-size: 14pt;
    color: purple;
    margin-top: 20px;
    padding-right: 300px;
}
.div-1{
    font-size: 14pt;
    font-weight: 900;
}
.sev{
    text-shadow: 2px 2px 5px rgb(79, 247, 116);
    font-size: 24px;
    font-style: oblique;
}
